.current-user-manage-spot-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 4rem;
}

.current-user_spot-Image {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 2.5rem;
        justify-items: center;
        margin-top: 1rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;

}

.current-user-spot-image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.manage-title-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.update-delete-spot-btn {
    padding-top: 15px;
}

.d-btn {
    background: gray;
    color: white;
}

#edit-spot-btn {
    padding-right: 20px;
}
