.datepicker-class_container{
height: 23rem;
    width: 35rem;
    text-align: center;

}

#book-form-title{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

#booking_button{
    background-color: red;
        height: 40px;
        width: 17rem;
        border-radius: 7px;
        font-size: 1.4rem;
            font-weight: bold;
            margin-top: 20px;
}

.datepicker{
padding: 10px;
font-weight: bold;
}
.react-datepicker__header {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: #333;
    padding-top: 6px !important;
}

.react-datepicker__day--selected {
    background-color: #44c1dd;
}

input[type="text" i] {
height: 2.5rem;
    width: 15rem;

}

.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}


.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.5rem !important;
}
