.reserve-box_container {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 8.5rem;
    border: black solid;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.single-Spot_price {
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 90%;
        justify-content: space-between;
}

#reserve-btn {
    background-color: red;
    height: 40px;
    width: 17rem;
}
