.main-single-container {
   padding: 4rem;
   padding-top: 0;
}

.singleSpot-detail_container {
    display: flex;
    width: 65%;
    /* border: black solid 2px; */
}

.detail-reserve-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: black solid 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.description-container {
    margin: 1rem;
}
