.create-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border: black 2px solid;
}

.review_item-padding {
    padding-top: 4px;
    padding-bottom: 4px;
}

.star-container {
    display: flex;
    justify-content: center;
}

.date_{
    color: rgb(159, 156, 156);
}

#star-input {
    width: 40px;
}

.text-box {
    width: 290px;
    height: 150px;
    background-color: rgb(226, 238, 247);
}

.review-submit-button {
    display: flex;
    flex-direction: column;
}

.newly-created-review {
    padding-bottom: 10px;
}

.single-review-container {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column-reverse;
}



.ReviewItem-review-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column-reverse;
}

.rating-input {
    display: flex;
    margin-right: 4px;
}

.rating-input .filled {
    color: black;
}

.rating-input .empty {
    /* color: rgb(203, 185, 94); */
    color: black;
}
